
.container {
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background:#21211d;
  color: #ffffff;
  font-family:'Courier New', Courier, monospace;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
  color: #dcdcdc;
}

.buttonContainer {
  display: flex;
  gap: 1.5rem;
}

.button {
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  font-weight:700;

  color: #ffffff;
  background-color: #db3de4;

  border: 2px solid rgb(216, 203, 217);
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease,
              transform 0.3s ease,
              box-shadow 0.3s ease;
}

.button:hover {
  background-color: #b3009e;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
